@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  body {
    @apply bg-primary text-white font-montserrat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-oswald uppercase;
  }

  ::selection {
    @apply bg-accent text-primary;
  }
}